/* .App {
  text-align: center;
} */

/* RESETS */
:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

a {
  text-decoration: none;
  color: black;
}

/* STYLES */

/* HEADER */
.container {
  max-width: 1080px;
  margin: 0 auto;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 0;
}

.search {
  /* position: relative; */
  width: 300px;
  display: flex;
  gap: 10px;
  position: relative;
  align-items: center;
  justify-content: right;
}

.search-input {
  width: 100%;
  /* border: none; */
  border: 1px solid lightgray;
  border-radius: 30px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.search-icon {
  width: 25px;
  position: absolute;
  padding: 12px;
}

hr {
  margin-bottom: 40px;
}

/* MAIN */
.main-wrap {
  display: flex;
  flex-flow: row wrap;

  width: 100%;
  gap: 20px;

  padding: 10px;
}

.card {
  width: 250px;
  height: 250px;
  margin-bottom: 50px;
  position: relative;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
}
